.env
.venv
__pycache__/
*.pyc
db.sqlite3
/staticfiles/
/media/
.DS_Store
.idea/
.vscode/
*.log
coverage
htmlcov/
*.sqlite3
*.pot
*.mo
instance/
.webassets-cache
.pytest_cache/
celerybeat-schedule
.envrc
.env.local
.env.*.local
.coverage